/* map-component.css */
.map-comp-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%;
}

.map-container {
    width: 100%;
}

#map {
    height: 35rem;
    width: 100%;
}

#map.active {
    cursor: crosshair;
}

.map-buttons-row {
    display: flex;
    flex-direction: row; /* Align buttons horizontally */
    gap: 1rem; /* Spacing between buttons */
    padding: 1rem 1rem; /* Optional: adds some vertical spacing */
    align-items: center;
    justify-content: start;
}