@import 'leaflet/dist/leaflet.css';
:root{
    --primary-light: #f6f5f3;
    --primary-body: #f6f5f3;



    /* colors */
    --btn-hover: #ffffff;
    --text-hover: #82dbff;
    --secondary-hover: var(--primary-body);

    --primary-confirm: #82dbff;
    --secondary-confirm: #6cc1e3;

    --heading-text: black;
    --heading-text-hover: black;

    --primary-active : #ff8787;
    --secondary-active : #d77373;
    --border-color: rgb(233, 233, 233);
    --svg-color: black;


    /* props */
    --hover-transition: color 0.3s ease, background-color 0.3s ease;
    --btn-radius: .5rem;

    --light-dropdown-background: white;
    --light-btn-hover: #ffffff;
    --light-border: rgb(233, 233, 233);


}

.dark-mode {
    --heading-text: #999999;
    --heading-text-hover: white;
}

body {
    margin: 0;
    font-family: Helvetica;
    background-color: var(--primary-light);
}
